body {
  background-color: mintcream;
  margin: 0px;
  padding: 0px;
}

/*--ABOUT PAGE CSS--*/
.about.html {
  background-color: chartreuse;
}

/*Logo Code*/
.a-webpage-name div {
  background-color: lightskyblue;
  width: 30vw;
  height: 10vh;
}

.a-webpage-name h1 {
  color: lawngreen;
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

/*Navigation Bar Code*/
.a-navigation-div {
  background-color: lightsalmon;
  width: 70vw;
  height: 10vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.a-navigation-div ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-navigation-div ul li {
  list-style-type: none;
  display: inline-block;
  margin: 2%;
  font-family: sans-serif;
  font-style: normal;
}

.a-nagivation-div ul li a {
  text-decoration: none;
  color: mediumvioletred;
  transition: 0.3s ease 0s;
  text-shadow: 5px 5px;
  color: darkmagenta;
  text-decoration: dotted;
}

.a-nagivation-div ul li a:hover {
  color: green;
  text-decoration: underline;
}

/*--SOLUTIONS PAGE CSS--*/
.solutions.html {
  background-color: darkcyan;
}

/*Logo Code*/
.s-webpage-name div {
  background-color: deepskyblue;
  width: 30vw;
  height: 10vh;
}

.s-webpage-name h1 {
  color: lawngreen;
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

/*Navigation Bar Code*/
.s-navigation-div {
  background-color: darkorange;
  width: 70vw;
  height: 10vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.s-navigation-div ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-navigation-div ul li {
  list-style-type: none;
  display: inline-block;
  margin: 2%;
  font-family: sans-serif;
  font-style: normal;
}

.s-nagivation-div ul li a {
  text-decoration: none;
  color: mediumvioletred;
  transition: 0.3s ease 0s;
  text-shadow: 5px 5px;
  color: darkmagenta;
  text-decoration: dotted;
}

.s-nagivation-div ul li a:hover {
  color: green;
  text-decoration: underline;
}

/*--FAQ PAGE CSS--*/
.donations.html body {
  background-color: crimson;
}

/*--INDEX PAGE CSS--*/
/*Logo Code*/
.webpage-name div {
  background-color: deepskyblue;
  width: 30vw;
  height: 10vh;
}

.webpage-name h1 {
  color: lawngreen;
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

/*Navigation Bar Code*/
.navigation-div {
  background-color: darkorange;
  width: 70vw;
  height: 10vh;
}

.navigation-div ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-div ul li {
  list-style-type: none;
  display: inline-block;
  margin: 2%;
  font-family: sans-serif;
  font-style: normal;
}

.nagivation-div ul li a {
  text-decoration: none;
  color: mediumvioletred;
  transition: 0.3s ease 0s;
  text-shadow: 5px 5px;
  color: darkmagenta;
  text-decoration: dotted;
}

.navigation-div ul li a:hover {
  color: green;
  text-decoration: underline;
}

/*INDEX PAGE CSS*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Logo Code*/
.webpage-name {
  background-color: lightskyblue;
  width: 30vw;
  height: 10vh;
}

.webpage-name h1 {
  color: lawngreen;
  font-family: sans-serif;
  padding: 0px;
  margin: 8%;
}

/*Navigation Bar Code*/
.navigation-div {
  background-color: lightsalmon;
  width: 70vw;
  height: 10vh;
}

.navigation-div ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-div ul li {
  list-style-type: none;
  display: inline-block;
  margin: 2%;
  font-family: sans-serif;
  font-weight: bold;
}

.nagivation-div ul li a {
  text-decoration: none;
  color: rgb(73, 44, 44);
  transition: 0.3s ease 0s;
  text-shadow: 5px 5px;
  color: darkmagenta;
  text-decoration: dotted;
}

.navigation-div ul li a:hover {
  color: green;
  text-decoration: underline;
}

/*Hompage Content Code*/
.main-image {
  background-image: url("/images/zoe-schaeffer-PFbOZfKh07I-unsplash.jpg");
  width: 98.5vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-div h1 {
  color: wheat;
  font-family: sans-serif;
  margin: 5%;
}

/*Form Content Code*/
.form {
  width: 50vw;
  height: auto;
  margin-left: 45%;
}

.form h2 {
  color: limegreen;
  font-family: sans-serif;
}

.form h3 {
  color: rgb(73, 44, 44);
  font-family: Arial, Helvetica, sans-serif;
}

/*Main-image 2 Code*/
.main-image2 {
  background-image: url(/images/tree-green.gif);
  width: 65vw;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-blurb {
  background-color: bisque;
  width: 34vw;
  height: 45vh;
}

.intro-blurb p {
  color: mediumseagreen;
  font-family: sans-serif;
  margin: 2%;
}

/*Preview Content Code*/
.about-preview {
  background-color: lightskyblue;
  width: 65vw;
  height: 15vh;
}

.about-preview h2 {
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.about-preview h3 {
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.solutions-preview {
  background-color: lightgreen;
  width: 65vw;
  height: 15vh;
}

.solutions-preview h2 {
  color: rgb(192, 242, 192);
  font-family: sans-serif;
  align-items: center;
}

.solutions-preview h3 {
  color: rgb(192, 242, 192);
  font-family: sans-serif;
  align-items: center;
}

.faq-preview {
  background-color: lightsalmon;
  width: 65vw;
  height: 15vh;
  margin-right: 34%;
}

.faq-preview h2 {
  color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.faq-preview h3 {
  color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

/*Main-image 3 Code*/
.main-image3 {
  background-image: url(/images/olena-sergienko-r0M9HrfJMBM-unsplash.jpg);
  width: 33.5vw;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100%;
}
