body {
  background-color: mintcream;
  margin: 0px;
  padding: 0px;
}

.solutions.html body {
  background-color: darkcyan;
}

.about.html body {
  background-color: chartreuse;
}

.donations.html body {
  background-color: crimson;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Logo Code*/
.webpage-name div {
  background-color: deepskyblue;
  width: 30vw;
  height: 10vh;
}

.webpage-name h1 {
  color: lawngreen;
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

/*Navigation Bar Code*/
.navigation-div {
  background-color: darkorange;
  width: 70vw;
  height: 10vh;
}

.navigation-div ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-div ul li {
  list-style-type: none;
  display: inline-block;
  margin: 2%;
  font-family: sans-serif;
  font-style: normal;
}

.nagivation-div ul li a {
  text-decoration: none;
  color: mediumvioletred;
  transition: 0.3s ease 0s;
  text-shadow: 5px 5px;
  color: darkmagenta;
  text-decoration: dotted;
}

.navigation-div ul li a:hover {
  color: green;
  text-decoration: underline;
}

/*Hompage Content Code*/
.main-image {
  background-image: url("/images/zoe-schaeffer-PFbOZfKh07I-unsplash.jpg");
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-div {
  width: 50vw;
  height: 10vh;
}

.quote-div h1 {
  color: black;
  font-family: sans-serif;
  margin: 5%;
}

.intro-blurb {
  background-color: darkred;
  width: 50vw;
  height: 10vh;
}

.intro-blurb p {
  color: mediumseagreen;
  font-family: sans-serif;
}

.form {
  width: 50vw;
  height: auto;
}

.form div h2 {
  color: blueviolet;
  font-family: sans-serif;
  margin: 30%;
}

.about-preview div {
  background-color: orchid;
  width: 50vw;
  height: 22vh;
}
/*Solutions Page Content*/
.solution-preview div {
  background-color: palevioletred;
  width: 110vw;
  height: 20vh;
}

.solution-preview h2 {
  color: beige;
  font-family: sans-serif;
  align-items: center;
}

.main-image2 {
  background-color: aquamarine;
  width: 70vw;
  height: 85vh;
}

.donations-preview div {
  background-color: violet;
  width: fit-content;
  height: fit-content;
}

.about-preview div {
  background-color: palegreen;
  width: 100vw;
  height: 15vh;
}
